{% extends "main_base.html" %}

{% load static %}

{% block pageCss %}
<link rel="stylesheet" href="{% static 'client/assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css' %}" />
	<link rel="stylesheet" href="{% static 'client/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css' %}" />
	<link rel="stylesheet" href="{% static 'client/assets/vendor/morris/morris.css' %}"/>
{% endblock pageCss %}

{% block title %}
<title>Dashboard</title>
{% endblock title %}

{% block bodyContent %}

<section role="main" class="content-body">
      <header class="page-header">
         <h2>Basic Forms</h2>

         <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
               <li>
                  <a href="index.html">
                     <i class="fa fa-home"></i>
                  </a>
               </li>
               <li><span>Forms</span></li>
               <li><span>Basic</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
         </div>
      </header>

      <!-- start: page -->
      <div class="row">
         <div class="col-lg-12">
            <section class="panel">
               <header class="panel-heading">
                  <div class="panel-actions">
                     <a href="#" class="fa fa-edit" id="edit_button" title="Edit Items"></a>
                     <a href="#" class="fa fa-caret-down" title="Hide Items"></a>
                     <a href="#" class="fa fa-times" title="Close This"></a>
                  </div>

                  <h2 class="panel-title">Form Elements</h2>
               </header>
               <div class="panel-body">
                  <form class="form-horizontal form-bordered" method="post">
                     <div class="form-group">
                        <label class="col-md-3 control-label" for="fullName">Full Name</label>
                        <div class="col-md-6">
                           <input type="text" class="form-control" id="fullName"
                              placeholder="Full Name" readonly="readonly">
                        </div>
                     </div>

                     <div class="form-group">
                        <label class="col-md-3 control-label" for="phoneNumber">Phone Number</label>
                        <div class="col-md-6">
                           <input class="form-control" id="phoneNumber" type="text"
                              placeholder="Phone Number" readonly="readonly">
                        </div>
                     </div>

                     <div class="form-group">
                        <label class="col-md-3 control-label" for="eMail">E-Mail</label>
                        <div class="col-md-6">
                           <input type="text" value="Read-Only Input" id="eMail" class="form-control"
                              placeholder="E-Mail" readonly="readonly">
                        </div>
                     </div>


                     <div class="form-group">
                        <label class="col-md-3 control-label" for="digitalAddress">Digital
                           Address</label>
                        <div class="col-md-6">
                           <input class="form-control" id="digitalAddress" type="text"
                              value="This is focused..." readonly="readonly">
                        </div>
                     </div>

                     <div class="form-group">
                        <label class="col-md-3 control-label" for="service">Service</label>
                        <div class="col-md-6">
                           <input type="text" class="form-control" placeholder="placeholder"
                              id="service" readonly="readonly">
                        </div>
                     </div>

                     <div class="form-group">
                        <label class="col-md-3 control-label" for="username">Username</label>
                        <div class="col-md-6">
                           <input type="password" class="form-control" placeholder="" id="username"
                              readonly="readonly">
                        </div>
                     </div>

                     <div class="form-group" style="text-align:center" id="buttons_holder">
                        <input type="button" class="btn btn-warning" id="btn_cancel_update"
                           value="Cancel Update">
                        <input type="submit" class="btn btn-primary" id="btn_update_details" hidden
                           value="Update Details">
                     </div>

                  </form>
               </div>
            </section>

         </div>
      </div>

   </section>
</div>

<aside id="sidebar-right" class="sidebar-right">
   <div class="nano">
      <div class="nano-content">
         <a href="#" class="mobile-close visible-xs">
            Collapse <i class="fa fa-chevron-right"></i>
         </a>

         <div class="sidebar-right-wrapper">

            <div class="sidebar-widget widget-calendar">
               <h6>Upcoming Tasks</h6>
               <div data-plugin-datepicker data-plugin-skin="dark"></div>

               <ul>
                  <li>
                     <time datetime="2014-04-19T00:00+00:00">04/19/2014</time>
                     <span>Company Meeting</span>
                  </li>
               </ul>
            </div>

            <div class="sidebar-widget widget-friends">
               <h6>Friends</h6>
               <ul>
                  <li class="status-online">
                     <figure class="profile-picture">
                        <img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                     </figure>
                     <div class="profile-info">
                        <span class="name">Joseph Doe Junior</span>
                        <span class="title">Hey, how are you?</span>
                     </div>
                  </li>
                  <li class="status-online">
                     <figure class="profile-picture">
                        <img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                     </figure>
                     <div class="profile-info">
                        <span class="name">Joseph Doe Junior</span>
                        <span class="title">Hey, how are you?</span>
                     </div>
                  </li>
                  <li class="status-offline">
                     <figure class="profile-picture">
                        <img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                     </figure>
                     <div class="profile-info">
                        <span class="name">Joseph Doe Junior</span>
                        <span class="title">Hey, how are you?</span>
                     </div>
                  </li>
                  <li class="status-offline">
                     <figure class="profile-picture">
                        <img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                     </figure>
                     <div class="profile-info">
                        <span class="name">Joseph Doe Junior</span>
                        <span class="title">Hey, how are you?</span>
                     </div>
                  </li>
               </ul>
            </div>

         </div>
      </div>
   </div>
</aside>
</section>

	<!-- Preloader -->
	<div id="preloader">
      <div class="sk-cube-grid">
         <div class="sk-cube sk-cube1"></div>
         <div class="sk-cube sk-cube2"></div>
         <div class="sk-cube sk-cube3"></div>
         <div class="sk-cube sk-cube4"></div>
         <div class="sk-cube sk-cube5"></div>
         <div class="sk-cube sk-cube6"></div>
         <div class="sk-cube sk-cube7"></div>
         <div class="sk-cube sk-cube8"></div>
         <div class="sk-cube sk-cube9"></div>
       </div>
   </div>
   <!-- /Preloader -->

{% endblock bodyContent %}


<!-- Vendor -->
<script src="{% static 'client/assets/vendor/jquery/jquery.js' %}"></script>
<script src="{% static 'client/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js' %}"></script>
<script src="{% static 'client/assets/vendor/bootstrap/js/bootstrap.js' %}"></script>
<script src="{% static 'client/assets/vendor/nanoscroller/nanoscroller.js' %}"></script>
<script src="{% static 'client/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'client/assets/vendor/magnific-popup/magnific-popup.js' %}"></script>
<script src="{% static 'client/assets/vendor/jquery-placeholder/jquery.placeholder.js' %}"></script>

<!-- Specific Page Vendor -->
<script src="{% static 'client/assets/vendor/jquery-autosize/jquery.autosize.js' %}"></script>
<script src="{% static 'client/assets/vendor/bootstrap-fileupload/bootstrap-fileupload.min.js' %}"></script>

<!-- Theme Base, Components and Settings -->
<script src="{% static 'client/assets/javascripts/theme.js' %}"></script>

<!-- Theme Custom -->
<script src="{% static 'client/assets/javascripts/theme.custom.js' %}"></script>

<!-- Theme Initialization Files -->
<script src="{% static 'client/assets/javascripts/theme.init.js' %}"></script>


