{% extends "registration_base.html" %} {% load static %} {% block title %}
<title>Member | Login</title>
{% endblock title %} {% block bodyContent %}
<!-- main -->
 
{% for error in form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
{% endfor %}

<div class="main-agile">
    <div class="content">
        <div class="top-grids">
            <div class="top-grids-left">
                <div class="signin-form-grid">
                    <div class="signin-form">

            
                        <div style="text-align:center;margin:10px"><img src="{% static 'client/landing-assets/img/log.png' %}" height="70px"></div>
                        <h2>Sign In Form</h2>
                        <form id="signin" method="post" class="main-form" data-parsley-validate="">
                {% csrf_token %}
                            <input type="text" name="username" id="id_username" placeholder="User Name" required="">
                            <input type="password" name="password" id="id_password" placeholder="Password" required="">
                            <input type="checkbox" id="brand" value="">
                            <label for="brand"><span></span> Remember me ?</label>

                            <div class="invalid-form-error-message"></div>
                            <input type="submit" class="btn btn-primary validate" value="SIGN IN">
                            <div class="signin-agileits-bottom">
                                <p><a href="/client/password-reset/">Forgot Password ?</a></p>
                            </div>
                        </form>
                    </div>
                    <div class="signin-firm">
                        <div class="social-grids">
                            <div class="social-text" style="width:100%;float:center">
                                <div class="text-center" id="down_text"><a href="/client/signup/">Dont Have An Account
										Yet..SignUp</a></div>
                            </div>
                            <div class="clear"> </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"> </div>
    </div>
</div>
<div class="copyright">
    <p> © 2019 . All rights reserved | A Product of <a href="snetgh.net">Step Network</a></p>
</div>
</div>
<!-- //main -->
{% endblock bodyContent %}