{% extends "registration_base.html" %}

{% load static %}

{% block title %}
<title>Reset Password</title>
{% endblock title %}

{% block bodyContent %}
<!-- main -->
<div class="main-agile">
	<div class="content">
		<div class="top-grids">
			<div class="top-grids-left">
				<div class="signin-form-grid">

					<div class="signin-form recover-password">
						<h3>Recover Password</h3>
						<form method="post">
							{% csrf_token %}
							<input type="email" placeholder="Email" name="email" id="id_email" required="">
							<input type="submit" class="send" value="Submit Reset">
							<div class="signin-agileits-bottom">
								<p><a href="/client/login/"><i class="fa fa-arrow-left" aria-hidden="true"></i> Cancel
										and go back to
										Login page</a></p>
							</div>
						</form>
					</div>

				</div>
				<div class="clear"> </div>
			</div>
		</div>
		<div class="copyright">
			<p> © 2019 . All rights reserved | A Product of <a href="http://www.snetgh.net">Step Network</a></p>
		</div>
	</div>
	<!-- //main -->

	{% endblock bodyContent %}