{% extends "base.html" %}

{% block title %}
<title>Confirm Email</title>
{% endblock title %} 

{% block bodyContent %}
	<!-- main -->
	<div class="main-agile">
		<div class="content">
			<div class="top-grids">
				<div class="top-grids-left">
					<div class="signin-form reset-password">
						<h3>Confirmation Link Sent</h3>
						<hr>
						<br>
						<h4>A reset link has been sent to the <strong>email you provided</strong>, Please Check and click on it to reset
							your password</h4>

						<br>
						<hr>

						<div class="signin-agileits-bottom">
							<p><a href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i> Go back to Login page</a></p>
						</div>

					</div>
				</div>
				<div class="clear"> </div>
			</div>
		</div>
		<div class="copyright">
			<p> © 2017 Different Multiple Form Widget . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
		</div>
	</div>
	<!-- //main -->

{% endblock bodyContent %}

