{% extends "registration_base.html" %}

{% block title %}
<title>Password Reset</title>
{% endblock title %}

{% block cssFiles %}
<style type="text/css">
.alert-danger {
	color: #721c24;
	background-color: transparent;
	border:none !important;
	padding: 0px !important;
}

.errorlist {
	background-color: #f8d7da;
	padding: 10px;
}


</style>

 {% endblock cssFiles %}

{% block bodyContent %}
<!-- main -->

{% for field in form %}
<div class="alert alert-danger">
   {{field.errors}}
 {% empty  %}
</div>
{% endfor %}



<div class="main-agile">
	<div class="content">
		<div class="top-grids">
			<div class="top-grids-left">
				<div class="signin-form reset-password">
					<h3>Reset Password</h3>
					<form method="post">
						{% csrf_token %}
						<input type="password" placeholder="Password" name="new_password1" id="id_new_password1"
							required="">
						<input type="password" placeholder="Repeat Password" name="new_password2" id="id_new_password2"
							required="">
						<input type="submit" class="send" value="Update Password">
					</form>
				</div>
			</div>
			<div class="clear"> </div>
		</div>
	</div>
	<div class="copyright">
		<p> © 2019 . All rights reserved | A Product of <a href="snetgh.net">Step Network</a></p>
	</div>
</div>
<!-- //main -->

{% endblock bodyContent %}