{% extends "main_base.html" %}

{% load static %}

{% block pageCss %}
<link rel="stylesheet" href="{% static 'client/assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css' %}" />
<link rel="stylesheet" href="{% static 'client/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css' %}" />
<link rel="stylesheet" href="{% static 'client/assets/vendor/morris/morris.css' %}" />
{% endblock pageCss %}

{% block title %}
<title>Dashboard</title>
{% endblock title %}

{% block bodyContent %}


<section role="main" class="content-body">
   <header class="page-header">
      <div class="right-wrapper pull-right">
         <ol class="breadcrumbs">
            <li>
               <a href="index.html">
                  <i class="fa fa-home"></i>
               </a>
            </li>
            <li><span>Payments</span></li>
            <li><span>View Payments</span></li>
         </ol>

         <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
      </div>
   </header>

   <!-- start: page -->
   <div class="row">
      <div class="col-lg-12">
         <section class="panel">
            <header class="panel-heading">
               <div class="panel-actions">

                  <a href="#" class="fa fa-caret-down" title="Hide Items"></a>
                  <a href="#" class="fa fa-times" title="Close This"></a>
               </div>

               <h2 class="panel-title">Payment History</h2>
            </header>
            <div class="panel-body">
               <h4>REGISTRATION SUMMARY</h4>
               <hr style="">

               <div class="form-group row">
                  <label for="staticEmail" class="col-sm-2 col-form-label" style="font-weight:bold">Date
                     Registered</label>
                  <div class="col-sm-8">
                     <span>{{ user_info.date_joined }}</span>
                  </div>
               </div>

               <hr>

               <div class="form-group row">
                  <label for="staticEmail" class="col-sm-2 col-form-label" style="font-weight:bold">Service
                  </label>
                  <div class="col-sm-8">
                     <span>{{account_info.service_type.services_name}}</span>
                  </div>
               </div>

               <hr>

               <div class="form-group row">
                  <label for="staticEmail" class="col-sm-2 col-form-label" style="font-weight:bold">Job Description
                  </label>
                  <div class="col-sm-8">
                     <span>{{account_info.job_description}}</span>
                  </div>
               </div>

               <hr>

               <div class="form-group row">
                  <label for="staticEmail" class="col-sm-2 col-form-label" style="font-weight:bold">Total Amount
                     Charged
                  </label>
                  <div class="col-sm-8"><span>GHC&nbsp;&nbsp;<span
                           style="color:#d2322d;font-weight: bold">{{account_info.total_amount}}</span>
                        &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp; </span>

                     <span>Total
                        Amount Paid : GHC&nbsp;<span>&nbsp;&nbsp;<span
                              style="color:#d2322d;font-weight: bold">{{account_info.amount_paid}}</span></span></span>
                     &nbsp;&nbsp;&nbsp;
                     |&nbsp;&nbsp;
                     <span>Total
                        Amount
                        Remaining : GHC&nbsp;<span>&nbsp;&nbsp;<span
                              style="color:#d2322d;font-weight: bold">{{account_info.remaining_balance}}</span></span></span>
                  </div>

               </div>

               <hr>

               <div class="form-group row">
                  <label for="staticEmail" class="col-sm-2 col-form-label" style="font-weight:bold">Initial Deposit
                  </label>
                  <div class="col-sm-8">
                     <span>Due Date : <strong style="color:#d2322d">{{due_date|date:"D d M Y"}}</strong></span>&nbsp;
                     | &nbsp;
                     <span>Amount Expected : </span> GHC&nbsp;<span style="color:#d2322d;font-weight: bold">
                         &nbsp;{{initial_deposit}}
                     </span>
                     &nbsp;&nbsp; | &nbsp;<span>Status:
                        &nbsp;</span>
                        {% if account_info.amount_paid != '0' %}
                     <label class="label label-success">{{account_info.account_status.account_status_name}}{{account_info.amount_paid}}
                     </label>
                     {% else %}
                     <label class="label label-warning">{{account_info.account_status.account_status_name}}
                     </label>
                     {% endif %}
                  </div>
               </div>

               <hr>

               <div class="form-group row">
                  <label for="staticEmail" class="col-sm-2 col-form-label" style="font-weight:bold">Payment History
                  </label>
                  <div class="table-responsive text-nowrap">

                     <table class="table">
                        <thead>
                           <tr>
                              <th scope="col">Date</th>
                              <th scope="col">Payment Mode</th>
                              <th scope="col">Amount Paid</th>
                           </tr>
                        </thead>
                        <tbody>
                           {% for payment in payment_history %}
                           <tr>
                              <th scope="row">{{payment.payment_date|date:"D d M Y"}}</th>
                              <td>{{payment.payment_mode.mode_name}}</td>
                              <td>{{payment.amount_paid}}</td>
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>

                  </div>
               </div>

            </div>
         </section>

      </div>
   </div>

</section>
</div>

<aside id="sidebar-right" class="sidebar-right">
   <div class="nano">
      <div class="nano-content">
         <a href="#" class="mobile-close visible-xs">
            Collapse <i class="fa fa-chevron-right"></i>
         </a>

         <div class="sidebar-right-wrapper">

            <div class="sidebar-widget widget-calendar">
               <h6>Upcoming Tasks</h6>
               <div data-plugin-datepicker data-plugin-skin="dark"></div>

               <ul>
                  <li>
                     <time datetime="2014-04-19T00:00+00:00">04/19/2014</time>
                     <span>Company Meeting</span>
                  </li>
               </ul>
            </div>

            <div class="sidebar-widget widget-friends">
               <h6>Friends</h6>
               <ul>
                  <li class="status-online">
                     <figure class="profile-picture">
                        <img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                     </figure>
                     <div class="profile-info">
                        <span class="name">Joseph Doe Junior</span>
                        <span class="title">Hey, how are you?</span>
                     </div>
                  </li>
                  <li class="status-online">
                     <figure class="profile-picture">
                        <img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                     </figure>
                     <div class="profile-info">
                        <span class="name">Joseph Doe Junior</span>
                        <span class="title">Hey, how are you?</span>
                     </div>
                  </li>
                  <li class="status-offline">
                     <figure class="profile-picture">
                        <img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                     </figure>
                     <div class="profile-info">
                        <span class="name">Joseph Doe Junior</span>
                        <span class="title">Hey, how are you?</span>
                     </div>
                  </li>
                  <li class="status-offline">
                     <figure class="profile-picture">
                        <img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                     </figure>
                     <div class="profile-info">
                        <span class="name">Joseph Doe Junior</span>
                        <span class="title">Hey, how are you?</span>
                     </div>
                  </li>
               </ul>
            </div>

         </div>
      </div>
   </div>
</aside>
</section>


<!-- Preloader -->
<div id="preloader">
   <div class="sk-cube-grid">
      <div class="sk-cube sk-cube1"></div>
      <div class="sk-cube sk-cube2"></div>
      <div class="sk-cube sk-cube3"></div>
      <div class="sk-cube sk-cube4"></div>
      <div class="sk-cube sk-cube5"></div>
      <div class="sk-cube sk-cube6"></div>
      <div class="sk-cube sk-cube7"></div>
      <div class="sk-cube sk-cube8"></div>
      <div class="sk-cube sk-cube9"></div>
   </div>
</div>
<!-- /Preloader -->

{% endblock bodyContent %}



<!-- Vendor -->
<script src="{% static 'assets/vendor/jquery/jquery.js' %}"></script>
<script src="{% static 'assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.js' %}"></script>
<script src="{% static 'assets/vendor/nanoscroller/nanoscroller.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'assets/vendor/magnific-popup/magnific-popup.js' %}"></script>
<script src="{% static 'assets/vendor/jquery-placeholder/jquery.placeholder.js' %}"></script>

<!-- Specific Page Vendor -->
<script src="{% static 'assets/vendor/jquery-autosize/jquery.autosize.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap-fileupload/bootstrap-fileupload.min.js' %}"></script>

<!-- Theme Base, Components and Settings -->
<script src="{% static 'assets/javascripts/theme.js' %}"></script>

<!-- Theme Custom -->
<script src="{% static 'assets/javascripts/theme.custom.js' %}"></script>

<!-- Theme Initialization Files -->
<script src="{% static 'assets/javascripts/theme.init.js' %}"></script>