{% load static %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
   <meta name="description" content="" />
   <meta name="author" content="" />
   <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
   <title>Member | Invoice </title>
   <!-- BOOTSTRAP CORE STYLE  -->
   <link rel="stylesheet" href="{% static 'client/assets/vendor/bootstrap/css/bootstrap.css' %}" />



   <!-- GOOGLE FONTS -->

   <style>
      /* =============================================================
   GENERAL STYLES
 ============================================================ */
      body {
         font-family: 'Open Sans', sans-serif;
         font-size: 16px;
         line-height: 30px;
      }

      .pad-top-botm {
         padding-bottom: 40px;
         padding-top: 60px;
      }

      h4 {
         text-transform: uppercase;
      }

      /* =============================================================
   PAGE STYLES
 ============================================================ */

      .contact-info span {
         font-size: 14px;
         padding: 0px 50px 0px 50px;
      }

      .contact-info hr {
         margin-top: 0px;
         margin-bottom: 0px;
      }

      .client-info {
         font-size: 15px;
      }

      .ttl-amts {
         text-align: right;
         padding-right: 50px;
      }
   </style>

</head>

<body>
   <div class="container" id="HTMLtoPDF">

      <div class="row pad-top-botm ">
         <div class="col-lg-6 col-md-6 col-sm-6 ">
            <img src="{% static 'client/assets/images/logoo.png' %}" style="padding-bottom:20px;" width="150px" height="150px" />
         </div>
         <div class="col-lg-6 col-md-6 col-sm-6">

            <strong> Step Network </strong>
            <br />
            <i>Address :</i> P.O.Box NG 597 Nungua
            <br />
            ER-00-0129,
            <br />
            Accra, Greater - Accra,
            <br />
            Ghana

         </div>
      </div>
      <div class="row text-center contact-info">
         <div class="col-lg-12 col-md-12 col-sm-12">
            <hr />
            <span>
               <strong>Email : </strong> info@snetgh.net || snetgh@gmail.com
            </span>
            <span>
               <strong>Call : </strong> +233 - 245- 908- 362
            </span>
            <span>
               <strong>Website : </strong> http://www.snetgh.net
            </span>
            <hr />
         </div>
      </div>
      <div class="row pad-top-botm client-info">
         <div class="col-lg-6 col-md-6 col-sm-6">
            <h4> <strong>Client Information</strong></h4>
            <strong> Jhon Deo Chuixae</strong>
            <br />
            <b>Address :</b> 145/908 , New York Lane,
            <br />
            United States.
            <br />
            <b>Call :</b> +90-908-567-0987
            <br />
            <b>E-mail :</b> info@clientdomain.com
         </div>
         <div class="col-lg-6 col-md-6 col-sm-6">

            <h4> <strong>Payment Details </strong></h4>
            <b> Invoice Details </b>
            <br />
            Invoice ID : <u>GHxs990</u>
            <br />
            <b>Payment Status </b>
            <br />
            Purchase Date : 10th August 2018
            <br />
            Due Date : 30th July 2019
         </div>
      </div>
      <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="table-responsive">
               <table class="table table-striped table-bordered table-hover">
                  <thead>
                     <tr>
                        <th>S. No.</th>
                        <th>Description</th>
                        <th>Total - GH <img src="assets/images/cedi.png" width="10px" height="20px"></th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>1</td>
                        <td>Website Design</td>
                        <td>50</td>
                     </tr>
                     <tr>
                        <td>2</td>
                        <td>Plugin Dev.</td>
                        <td>100</td>
                     </tr>
                     <tr>
                        <td>3</td>
                        <td>Hosting Domains</td>
                        <td>400</td>

                     </tr>

                  </tbody>
               </table>
            </div>
            <hr />
            <div class="ttl-amts">
               <h5> Total Amount : 900 </h5>
            </div>
            <hr />
            <div class="ttl-amts">
               <h5> Tax : 90 USD ( by 10 % on bill ) </h5>
            </div>
            <hr />
            <div class="ttl-amts">
               <h4> <strong>Bill Amount : 990 USD</strong> </h4>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12">
            <strong> Important: </strong>
            <ol>
               <li>
                  This is an electronic generated invoice so doesn't require any signature.

               </li>
               <li>
                  Please read all terms and polices on www.yourdomaon.com for returns, replacement and other
                  issues.

               </li>
            </ol>
         </div>
      </div>
      <div class="row pad-top-botm">
         <div class="col-lg-12 col-md-12 col-sm-12">
            <hr />
            <button class="btn btn-primary btn-lg" id="print_invoice">Print Invoice</button>
            &nbsp;&nbsp;&nbsp;
         </div>
      </div>

   </div>
   <script src="{% static 'assets/vendor/jquery/jquery.js' %}"></script>

   <script>
      $(document).ready(function () {
         $("#print_invoice").click(function () {
            window.print();
         })
      })
   </script>

</body>

</html>