{% extends "base.html" %}

{% load staticfiles %}


{% block title %}
<title>Login</title>
{% endblock title %}

{% block bodyContent %}


<div class="wrapper" style="background-image: url({% static 'client/images/bg-registration-form-2.jpg'%})">
			<div class="inner" style="padding-bottom: 0px !important;padding-top: 70px">
				<form method="post">
					{% csrf_token %}
					<div style="text-align: center;height: 80px !important" class="member_holder"><img src="{% static 'client/landing-assets/img/log_2.png' %}" alt="Logo" height="70px"></div>
					<h3>Registration Form</h3>
					<!-- <div class="form-group"> -->

						{{form.as_p}}
						
					<!-- 		<label for="">Individual</label>
							<input type="radio" name="rad_status" class="form-control rad_status" checked="checked" value="individual">
						
						
							<label for="">Organization</label>
							<input type="radio" name="rad_status" class="form-control  rad_status" value="organization">
						
					</div>
					<br/>
					<div class="form-group" >
						<div class="form-wrapper">
							<label for="" id="lbl_org_name">Organization Name</label>
							<label for="" id="lbl_full_name">Full Name</label>
							<input type="text" class="form-control">
						</div>
						<div class="form-wrapper">
							<label for="">Telephone</label>
							<input type="text" class="form-control">
						</div>
					</div>


					<div class="form-group" id="organization_contact">
						<div class="form-wrapper">
							<label for="">Contact Person</label>
							<input type="text" class="form-control">
						</div>
						<div class="form-wrapper">
							<label for="">Contact Telephone</label>
							<input type="text" class="form-control">
						</div>
					</div>


					<div class="form-wrapper">
						<label for="">Email</label>
						<input type="text" class="form-control">
					</div>
					<div class="form-group">
						<div class="form-wrapper">
							<label for="">Service</label>
							<select class="form-control">
								<option disabled="disabled" selected="selected">Select Service</option>
								<option>Web Design</option>
								<option>Networking</option>
								<option>Consultation</option>
							</select>
						</div>
						<div class="form-wrapper">
							<label for="">Digital Address</label>
							<input type="text" class="form-control">
						</div>
					</div>
					<div class="form-group">
					<div class="form-wrapper">
						<label for="">Password</label>
						<input type="password" class="form-control">
					</div>
					<div class="form-wrapper">
						<label for="">Confirm Password</label>
						<input type="password" class="form-control">
					</div>
				</div>
					<div class="checkbox">
						<label>
							<input type="checkbox"> I caccept the Terms of Use & Privacy Policy.
							<span class="checkmark"></span>
						</label>
					</div> -->
					<button type="submit">Register Now</button>
					<br>
					<div style="text-align: center;"><span>Already have an <span style="font-weight: bold;">account - <a href="/client/login">Sign In </a></span> </span></div>
					<br>
					<br>
				</form>
			</div>
		</div>

		{% block javascriptFiles %}

		<script type="text/javascript" src="{% static 'client/js/custom_js.js' %}"></script>

		{% endblock javascriptFiles %}


	

{% endblock bodyContent %}



