{% extends "admin_base.html" %}

{% load static  %}

	
{% block customCss %}   

<link rel="stylesheet" type="text/css" href="{% static 'administrator/admin-files/plugins/datatables/datatables.min.css'  %}">

<link rel="stylesheet" type="text/css" href="{% static 'administrator/admin-files/plugins/datatables/dataTables.bootstrap4.min.css'  %}">

{% endblock customCss %}



 {% block pageNameBig %}Tickets {% endblock pageNameBig %}
  {% block pageNameSmall %}Tickets {% endblock pageNameSmall %}
{%  block bodyContent %}

<div class="col-md-12">						
									<div class="card mb-3">
										<div class="card-body">
											
											
<div class="box">
<div class="mt-2 mb-2"><strong>Invoice ID</strong>:<span class="ml-3">GT-JJ1</span></div>
<div class="mt-2 mb-2"><strong>Full Name</strong>:<span class="ml-3">John Doe</span></div>
<div class="mt-2 mb-2"><strong>Status</strong>:<span class="badge badge-pill badge-success pt-1 pb-1 ml-3">closed</span></div>
<div class="mt-2 mb-2"><strong>Date Sent</strong>:<span class="ml-3">31st March, 2019 </span></div>

<div class="mt-1 mb-1"><strong>Description</strong>:<span class="ml-3">I Poured Water on my keyboard....What should i do</span></div>
</div> <!-- box.// -->




										</div>							
									</div><!-- end card-->					
								</div>

{%  endblock bodyContent %}

{%  block customJs %}
<script type="text/javascript" src="{% static 'administrator/admin-files/plugins/datatables/datatables.min.js'  %}"></script>
<script type="text/javascript" src="{% static 'administrator/admin-files/plugins/datatables/dataTables.bootstrap4.min.js'  %}"></script>

<script type="text/javascript" src="{% static 'administrator/admin-files/js/custom/dataTables.js'  %}"></script>

{%  endblock customJs %}