{% extends "admin_base.html" %}

{% load static  %}

	
{% block customCss %}   

<link rel="stylesheet" type="text/css" href="{% static 'administrator/admin-files/plugins/datatables/datatables.min.css'  %}">

<link rel="stylesheet" type="text/css" href="{% static 'administrator/admin-files/plugins/datatables/dataTables.bootstrap4.min.css'  %}">

{% endblock customCss %}



 {% block pageNameBig %}Pending Clients {% endblock pageNameBig %}
  {% block pageNameSmall %}Pending Clients {% endblock pageNameSmall %}
{%  block bodyContent %}

<div class="col-md-12">						
									<div class="card mb-3">
										<div class="card-header text-right">
											<a href="{% url 'manage_clients' %}" class="btn btn-primary"><i class="fw fa fa-cogs"></i>&nbsp;Manage Clients</a>
										</div>
											
										<div class="card-body">
											
											<table class="table table-responsive-xl table-striped" id="selected_table">
											  <thead>
												<tr>
												  <th scope="col">#</th>
												  <th scope="col">Full Name</th>
												  <th scope="col">Username</th>
												  <th scope="col">Telephone</th>
												  <th scope="col">Contact Person</th>
												  <th scope="col">Contact Telephone</th>
												  <th scope="col">Service</th>
												  <th scope="col">Status</th>
												</tr>
											  </thead>
											  <tbody>
												<tr>
												  <th scope="row">1</th>
												  <td>Mark</td>
												  <td>Otto</td>
												  <td>@mdo</td>
												  <td>@mdo</td>
												  <td>@mdo</td>
												  <td>@mdo</td>
												  <td><span class="badge badge-pill badge-danger pt-1 pb-1">Pending</span></td>

												</tr>
												
											  </tbody>
											</table>
											
										</div>							
									</div><!-- end card-->					
								</div>

{%  endblock bodyContent %}

{%  block customJs %}
<script type="text/javascript" src="{% static 'administrator/admin-files/plugins/datatables/datatables.min.js'  %}"></script>
<script type="text/javascript" src="{% static 'administrator/admin-files/plugins/datatables/dataTables.bootstrap4.min.js'  %}"></script>

<script type="text/javascript" src="{% static 'administrator/admin-files/js/custom/dataTables.js'  %}"></script>

{%  endblock customJs %}