{% extends "admin_base.html" %}

{% load static  %}

	
{% block customCss %}   

<link rel="stylesheet" type="text/css" href="{% static 'administrator/admin-files/plugins/datatables/datatables.min.css'  %}">

<link rel="stylesheet" type="text/css" href="{% static 'administrator/admin-files/plugins/datatables/dataTables.bootstrap4.min.css'  %}">

{% endblock customCss %}



 {% block pageNameBig %}Invoice {% endblock pageNameBig %}
  {% block pageNameSmall %}Invoice {% endblock pageNameSmall %}
{%  block bodyContent %}

<div class="col-md-12">						
									<div class="card mb-3">
										
											
										<div class="card-body">
											
											<table class="table table-responsive-xl table-striped" id="selected_table">
											  <thead>
												<tr>
												  <th scope="col">#</th>
												  <th scope="col">Full Name</th>
												  <th scope="col">Username</th>
												  <th scope="col">Total Amount</th>
												  <th scope="col">Amount Payed</th>
												  <th scope="col">Amount Remain</th>
												  <th scope="col">Action</th>
												</tr>
											  </thead>
											  <tbody>
												<tr>
												  <th scope="row">1</th>
												  <td>Mark</td>
												  <td>Otto</td>
												  <td>@mdo</td>
												  <td>@mdo</td>
												  <td>@mdo</td>
												   <td><a href="manage/1" class="btn btn-primary btn-sm" ><i class="fw fa fa-cog"></i>&nbsp;Manage</a></td>

												</tr>
												
											  </tbody>
											</table>
											
										</div>							
									</div><!-- end card-->					
								</div>

{%  endblock bodyContent %}

{%  block customJs %}
<script type="text/javascript" src="{% static 'administrator/admin-files/plugins/datatables/datatables.min.js'  %}"></script>
<script type="text/javascript" src="{% static 'administrator/admin-files/plugins/datatables/dataTables.bootstrap4.min.js'  %}"></script>

<script type="text/javascript" src="{% static 'administrator/admin-files/js/custom/dataTables.js'  %}"></script>

{%  endblock customJs %}